.inputContainer {
    display: flex;
    justify-content: center;   
    position: relative;
    .inputContent {
      border: 1px solid #D9D9D9;
      padding: 9px;
      border-radius: 8px;
      width: 100%;
      appearance: none;
    }
    .iconContainer {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
   
  }
  